
#menu ul{
list-style: none;

}

*
{
   margin: 0%;
   padding: 0;
}


#menu ul li{
    background-color: white;
    border: 1px solid whitesmoke;
    width: 200px;
    height: 40px;
    line-height: 40px;
    float: left;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    
        
    } 

    #menu ul li a {

        background-color: black;
        display: block;
        text-decoration: none;
        font-size: 15px; 
        color:red;
        position: relative;
        
    }
    #menu ul li a:hover
    {
background-color: green; 

    }
    #menu ul li a:active
    {
        background-color: rgb(53, 50, 205); 
    }
#menu ul ul
{
    position: absolute;
    display: none;
}
#menu ul li:hover > ul
{
display: block;

}
  

    
        

    